.client-bg{
    /* background: url(../../assets/bgclient.mp4) ; */
}
.slide4 img{
    /* height: 100px;
    width: 100%; */
    height: 100px;
    aspect-ratio: auto 200 / 100;
    width: 200px;
}

@media (max-width: 768px) {
    
    .slide4 img{
        /* height: 100px;
        width: 100%; */
        height: 100px;
        width: 150px;
        margin-top: 30px;
       /* float: left; */
    }
  }
 