:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}
.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}
.service-title{
    color: #FEA116;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -45px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}

.service {
    transform: translateY(-250px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}
  .service.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
